
.bg-image {
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.yiMjgR5AKNyiMinCqD5tWwHaEo&pid=Api&P=0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }